/**/.idea/
/**/.DS_Store

/**/docker/redis/*
!/**/docker/redis/.gitkeep
/**/docker/apache/logs/*
!/**/docker/apache/logs/.gitkeep
/**/docker/mysql/dbdata/*
/**/docker/postgres/dbdata/*
/**/docker/nginx/logs/*
!/**/docker/nginx/logs/.gitkeep

.env

/mysql-data

# Ignore SSL private keys and certificates
docker/apache/ssl_certs_app/server.key
# You might also want to add .crt files or the whole directory if it contains only certs
docker/apache/ssl_certs_app/