/**/.idea/
/**/.DS_Store

/**/docker/redis/*
!/**/docker/redis/.gitkeep
/**/docker/apache/logs/*
!/**/docker/apache/logs/.gitkeep
/**/docker/mysql/dbdata/*
/**/docker/postgres/dbdata/*
/**/docker/nginx/logs/*
!/**/docker/nginx/logs/.gitkeep

.env
.env.local
.env.production

/mysql-data
/app/public_html/painel/images
/app/public_html/painel/images/clientes
/app/public_html/painel/images/comprovantes
# Ignorar chaves SSL privadas e certificados
#docker/apache/ssl_certs_app/app/public_html/painel/images/*
/vendor/