RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^receber_vencidas(.*)$ index.php?pagina=receber_vencidas [L]

RewriteRule ^usuarios(.*)$ index.php?pagina=usuarios [L]
RewriteRule ^grupo_acessos(.*)$ index.php?pagina=grupo_acessos [L]
RewriteRule ^acessos(.*)$ index.php?pagina=acessos [L]

RewriteRule ^index(.*)$ index.php [L]
RewriteRule ^receber(.*)$ index.php?pagina=receber [L]
RewriteRule ^pagar(.*)$ index.php?pagina=pagar [L]
RewriteRule ^formas_pgto(.*)$ index.php?pagina=formas_pgto [L]
RewriteRule ^frequencias(.*)$ index.php?pagina=frequencias [L]

RewriteRule ^cargos(.*)$ index.php?pagina=cargos [L]

RewriteRule ^home(.*)$ index.php?pagina=home [L]
RewriteRule ^tarefas(.*)$ index.php?pagina=tarefas [L]
RewriteRule ^anotacoes(.*)$ index.php?pagina=anotacoes [L]

RewriteRule ^funcionarios(.*)$ index.php?pagina=funcionarios [L]
RewriteRule ^fornecedores(.*)$ index.php?pagina=fornecedores [L]
RewriteRule ^clientes(.*)$ index.php?pagina=clientes [L]


RewriteRule ^qrcode(.*)$ index.php?pagina=qrcode [L]
RewriteRule ^pwa(.*)$ index.php?pagina=pwa [L]
RewriteRule ^feriados(.*)$ index.php?pagina=feriados [L]

RewriteRule ^emprestimos(.*)$ index.php?pagina=emprestimos [L]
RewriteRule ^cobrancas(.*)$ index.php?pagina=cobrancas [L]
RewriteRule ^status_clientes(.*)$ index.php?pagina=status_clientes [L]
RewriteRule ^lucro(.*)$ index.php?pagina=lucro [L]
RewriteRule ^solicitar_emprestimo(.*)$ index.php?pagina=solicitar_emprestimo [L]